@import url("../node_modules/golden-layout/src/css/goldenlayout-base.css");
@import url("../node_modules/golden-layout/src/css/goldenlayout-dark-theme.css"); 
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --gl-header-height: 25px;
  --app-fonts-family : 'Open Sans', sans-serif;
  --base-font : 16px;
}

body {
   font-family: var(--app-fonts-family);
}
 .lm_header {
    height: var(--gl-header-height) !important;
    line-height: var(--gl-header-height) !important;
}
 .lm_tabs {
    height: var(--gl-header-height)!important;
    line-height: var(--gl-header-height) !important;
} 

.lm_header .lm_tab {
    font-family: var(--app-fonts-family);
    font-size: 0.82em;
    box-shadow: none;
    margin-right: 3px; 
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 10px;
    padding-left: 5px;
    height: var(--gl-header-height) !important;
}
.lm_header .lm_tab .lm_title {
    margin-right: 20px;
}
.lm_header .lm_tab.lm_active {
    border-bottom: none;
    box-shadow: none;
    background: #990000;
    padding-bottom: 0;
    color: #fff;
    font-weight: bold;
}
.lm_tab:hover, .lm_tab.lm_active {
    background: #660000;
    color: #fff;
}


